<template>
  <div class="jm-ui jm-switch-warpper" :class="'jm-switch-warpper-' + disabled" :style="[sizeStyle, bgStyle]" @click="clickHandler">
    <span class="jm-switch-slider" :class="'jm-switch-slider-' + disabled" :style="[sliderStyle, sliderLeft]"></span>
  </div>
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-switch',
    
    mixins: [mixedSize],

    props: {
      width: {
        type: [String, Number],
        default: '34'
      },
      height: {
        type: [String, Number],
        default: '20'
      },
      value: {
        type: [String, Number, Boolean],
        default: ''
      },
      label: {
        type: [String, Number, Boolean],
        default: ''
      },
      disabled: {
        type: Boolean,
        default: false
      },
      activeColor: {
        type: String,
        default: '#1A7AFB'
      },
      inactiveColor: {
        type: String,
        default: '#E94D3E'
      },
      activeValue: {
        type: [String, Number, Boolean],
        default: true
      },
      inactiveValue: {
        type: [String, Number, Boolean],
        default: false
      }
    },
    
    data(){
		  return {
      }
    },
    
    mounted(){
		  this.init()
    },
    
    computed: {
      bgStyle(){
        return {
          background: this.value == this.activeValue ? this.activeColor : this.inactiveColor
        }
      },
      
      sliderStyle(){
        return {
          width: (this.height - 2) + 'px',
          height: (this.height - 2) + 'px'
        }
      },
      
      sliderLeft(){
        return {
          left: this.value == this.activeValue ? '1px' : (this.width - 2 - (this.height - 3)) + 'px'
        }
      }
    },

    methods: {
      init(){
      },
  
      clickHandler(){
        this.disabled || this.$emit('input', this.value == this.activeValue ? this.inactiveValue : this.activeValue)
      }
    }
	}
</script>
