<template>
  <div class="jm-notice-dialog-case" :style="{'opacity': opacity, 'transform': 'translateY(' + y + 'px)', 'width': (width + 'px'), 'height': (height + 'px')}">
    <header class="dialog-header">{{title}}</header>
    <div class="dialog-content auto-fill">
      <div :is="page" :params="params"></div>
    </div>
  </div>
</template>

<script>
  import utils from '../../../utils.js'

	export default {
		name: 'jm-dialog',

    props: {
			title: {
				type: String,
				default: 'title'
			},
			iconType: {
				type: String,
				default: 'success'
      },
      id: {
				type: String,
        default: ''
      },
			width: {
				type: [String, Number],
				default: '800'
			},
			height: {
				type: [String, Number],
				default: '540'
			},
      page: {},
      params: {
				type: Object
      }
    },
    
    data(){
		  return {
				opacity: 0,
        y: -30
      }
    },

    mounted(){
    	setTimeout(() => {
    		this.opacity = 1.0
        this.y = 0
      }, 50)
    },

    methods: {
    }
	}
</script>
