<template>
  <div class="jm-grid-col-case" :style="{'width': caption.width + 'px'}">
    <label class="label" v-if="(!$slots.default) && caption.format == undefined">{{data[caption.prop]}}</label>
    <label class="label" v-if="(!$slots.default) && caption.format == 'index'">{{(index + 1)}}</label>
    <jm-checkbox v-model="data.checked" v-if="(!$slots.default) && caption.format == 'checkbox'" />
    <label class="label" v-if="(!$slots.default) && caption.format == 'date'"><i class="iconfont icon-dialog"></i>{{formatDate(data[caption.prop])}}</label>
    <label class="label" v-if="(!$slots.default) && caption.format == 'date2'"><i class="iconfont icon-dialog"></i>{{formatDate2(data[caption.prop])}}</label>
    <slot></slot>
  </div>
</template>

<script>
  import utils from '../../../utils.js'

	export default {
		name: 'jm-cell',

    props: {
			caption: {
        type: Object
      },
			data: {},
      index: {
			  type: [String, Number],
        default: ''
      }
    },
    
    data(){
		  return {
      }
    },
    
    mounted(){
		  this.init()
    },
    
    methods: {
      init(){},
  
      formatDate(str){
        let date = utils.getDate(str, true)
        if(str){
          return [date.year, date.month, date.day].join('-')
        }
        return ''
      },

			formatDate2(str){
      	if(str && str.length == 8){
      		return [str.substring(0, 4), str.substring(4, 6), str.substring(6, 8)].join('-')
        }
        return str
      }
    }
	}
</script>
