<template>
  <div :slot="prop">
    <slot></slot>
  </div>
</template>


<script>
  import utils from '../../../utils.js'

	export default {
		name: 'jm-column-config',

    props: {
			prop: {
        type: String,
        default: ''
      },
			label: {
        type: String,
        default: ''
      },
			width: {
				type: [String, Number],
				default: '100'
      },
			sortable: {
				type: Boolean,
        default: false
      },
      fixed: {
			  type: String,
        default: 'left'
      },
      format: {
			  type: String,
        default: '' //date | time
      }
    },
    
    data(){
		  return {
      }
    },
    
    mounted(){
		  this.init()
    },
    
    methods: {
      init(){
      }
    }
	}
</script>
