<template />

<script>
  import utils from '../../../utils.js'

	export default {
		name: 'jm-column',

    props: {
			prop: {
        type: String,
        default: ''
      },
			label: {
        type: String,
        default: ''
      },
			width: {
				type: [String, Number],
				default: '100'
      },
			sortable: {
				type: Boolean,
        default: false
      }
    },
    
    data(){
		  return {
      }
    },
    
    mounted(){
		  this.init()
    },
    
    methods: {
      init(){}
    }
	}
</script>
