<template>
  <div class="jm-ui jm-grid-warpper" :style="sizeStyle">
    <!--表头-->
    <header class="jm-grid-header">
      <div class="jm-grid-header-slider">
        <!--左边表头固定列容器-->
        <ul v-if="caption.totalLeftWidth > 0" class="jm-grid-header-inner jm-grid-fixed-left-header" :style="{'width': caption.totalLeftWidth + 'px'}">
          <li v-for="(caption, idx) in caption.fixedLeftCaptions" class="jm-grid-header-item" :style="{'width': caption.width + 'px'}" :key="idx">
            {{caption.label}}
            <jm-checkbox v-model="checkAll" v-if="caption.format === 'checkbox'" @checkClickHandler="checks" :indeterminate="indeterminate" />
            <div class="sort-case" v-if="caption.sortable !== undefined">
              <span class="iconfont auto-fill icon-up-arr"></span>
              <span class="iconfont auto-fill icon-down-arr"></span>
            </div>
          </li>
        </ul>
        
        <ul class="jm-grid-header-inner auto-fill" :style="{'width': caption.width + 'px', 'transform': 'translateX(' + (0 - scrollPosition.left) + 'px)', 'padding-left': caption.totalLeftWidth + 'px', 'padding-right': caption.totalRightWidth + 'px'}">
          <li v-for="(caption, idx) in caption.captions" class="jm-grid-header-item" :style="{'width': caption.width + 'px'}" :key="idx">
            {{caption.label}}
            <jm-checkbox v-model="checkAll" v-if="caption.format === 'checkbox'" @checkClickHandler="checks" :indeterminate="indeterminate" />
            <div class="sort-case" v-if="caption.sortable !== undefined">
              <span class="iconfont auto-fill icon-up-arr"></span>
              <span class="iconfont auto-fill icon-down-arr"></span>
            </div>
          </li>
        </ul>
        
        <!--右边表头固定列容器-->
        <ul v-if="caption.totalRightWidth > 0" class="jm-grid-header-inner jm-grid-fixed-right-header" :style="{'width': caption.totalRightWidth + 'px'}">
          <li v-for="(caption, idx) in caption.fixedRightCaptions" class="jm-grid-header-item" :style="{'width': caption.width + 'px'}" :key="idx">
            {{caption.label}}
            <jm-checkbox v-model="checkAll" v-if="caption.format === 'checkbox'" @checkClickHandler="checks" :indeterminate="indeterminate" />
            <div class="sort-case" v-if="caption.sortable !== undefined">
              <span class="iconfont auto-fill icon-up-arr"></span>
              <span class="iconfont auto-fill icon-down-arr"></span>
            </div>
          </li>
        </ul>
      </div>
    </header>
    
    <!--表体-->
    <main class="jm-grid-body auto-fill">
      <!--左边固定列容器-->
      <div class="jm-grid-fixed-left-body" :style="{'width': caption.totalLeftWidth + 'px', 'transform': 'translateY(' + (0 - scrollPosition.top) + 'px)'}">
        <ul class="jm-grid-row-case" v-for="(row, rowIdx) in resources" :key="row[unique]">
          <jm-cell v-for="(caption, idx) in caption.fixedLeftCaptions" :caption="caption" :data="row" :key="idx" :index="rowIdx">
            <slot :name="caption.prop" v-if="$scopedSlots[caption.prop]"></slot>
          </jm-cell>
        </ul>
      </div>
      
      <!--非固定列容器-->
      <div class="jm-grid-body-slider auto-fill" @scroll="scrollHandler($event)" :style="{}">
        <div class="jm-grid-body-inner" :style="{'width': caption.width + 'px', 'padding-left': caption.totalLeftWidth + 'px', 'padding-right': caption.totalRightWidth + 'px'}">
          <ul class="jm-grid-row-case" :class="'jm-grid-row-case-' + row.selected" v-for="(row, rowIdx) in resources" :key="row[unique]" @click="clickRow(row)">
            <jm-cell v-for="(caption, idx) in caption.captions" :caption="caption" :data="row" :key="idx" :index="rowIdx">
              <slot :name="caption.prop" v-if="$scopedSlots[caption.prop]"></slot>
            </jm-cell>
          </ul>
        </div>
      </div>
      
      <!--右边固定列容器-->
      <div class="jm-grid-fixed-right-body" :style="{'width': caption.totalRightWidth + 'px', 'transform': 'translateY(' + (0 - scrollPosition.top) + 'px)'}">
        <ul class="jm-grid-row-case" v-for="(row, rowIdx) in resources" :key="row[unique]">
          <jm-cell v-for="(caption, idx) in caption.fixedRightCaptions" :caption="caption" :data="row" :key="idx" :index="rowIdx">
            <slot :name="caption.prop" v-if="$scopedSlots[caption.prop]" :item="row"></slot>
          </jm-cell>
        </ul>
      </div>
    </main>
    <div class="jm-grid-counter" v-if="counter">
      表格统计
      <jm-pagination />
    </div>
  </div>
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-grid',
    
    mixins: [mixedSize],

    props: {
      width: {
        type: [String, Number],
        default: '100%'
      },
      height: {
        type: [String, Number],
        default: '100%'
      },
			data: {
      	type: Array
      },
      unique: {
        type: String,
        default: 'id'
      },
      counter: {
        type: Boolean,
        default: false
      },
      overflow: {
        type: String,
        default: 'hidden'
      }
    },
    
    data(){
		  return {
		    scrollPosition: {
		      left: 0,
          top: 0
        },
        currRow: null,
        display: false
      }
    },
    
    mounted(){
		  this.init()
    },

    computed: {
    	caption(){
				let
          columnComponents = utils.getChildrenComponents(this, 'jm-column-config'),
          caption = {}, captions = [],
          totalWidth = 0,
          fixedLeftCaptions = [],
          fixedRightCaptions = [],
          totalLeftWidth = 0,
          totalRightWidth = 0,
          width = 0
        
				columnComponents.forEach(component => {
					let prop = component.componentOptions.propsData
          if(prop.fixed === undefined){
            captions.push(prop)
            totalWidth = totalWidth + parseInt(prop.width)
          }else if(prop.fixed === '' || prop.fixed.toLowerCase() === 'left'){
            fixedLeftCaptions.push(prop)
            totalLeftWidth = totalLeftWidth + parseInt(prop.width)
          }else if(prop.fixed.toLowerCase() === 'right'){
            fixedRightCaptions.push(prop)
            totalRightWidth = totalRightWidth + parseInt(prop.width)
          }
				})
        width = totalWidth + totalLeftWidth + totalRightWidth
        
        caption = {
          totalWidth,
          totalLeftWidth,
          totalRightWidth,
          captions,
          fixedLeftCaptions,
          fixedRightCaptions,
          width
        }
        return caption
      },
      
      resources(){
    	  this.data && this.data.forEach(item => {
    	    this.$set(item, 'selected', false)
          this.$set(item, 'checked', false)
        })
        return this.data
      },
  
      indeterminate(){
        let all = true, checked = false
        this.resources && this.resources.forEach(item => {
          if(!item.checked){
            all = false
          }
          if(item.checked){
            checked = true
          }
        })
        return (!all && checked)
      },
  
      checkAll: {
        get(){
          let all = true
          this.resources && this.resources.forEach(item => {
            if(!item.checked){
              all = false
            }
          })
          return all && this.resources.length > 0
        },
        
        set(){
          this.resources && this.resources.forEach(item => {
            item.checked = !this.checkAll
          })
        }
      }
    },
    
    methods: {
      init(){},
  
      checks(){
        this.resources && this.resources.forEach(item => {
          item.checked = this.checkAll
        })
      },
  
      scrollHandler(ev){
        let target = ev.target
        this.scrollPosition = Object.assign({}, this.scrollPosition, {
          left: target.scrollLeft,
          top: target.scrollTop
        })
      },
  
      clickRow(item){
        if(this.currRow){
          this.currRow.selected = false
        }
        item.selected = true
        this.currRow = item
      }
    }
	}
</script>
