<template>
  <div class="jm-ui jm-container" :class="sizeClass" :style="sizeStyle">
    <slot></slot>
  </div>
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-row',

    mixins: [mixedSize],

    props: {
			width: {
				type: [String, Number],
        default: '100%'
      },
      height: {
				type: [String, Number],
        default: '100%'
      },
      align: {
				type: String,
        default: 'left'
      },
      valign: {
				type: String,
        default: 'top'
      }
    },

    computed: {
			sizeClass(){
				return ['jm-vert', this.align, this.valign].join('-')
      }
    }
	}
</script>

<style>

</style>
