<template>
  <div class="jm-ui jm-radio-warpper" :class="'jm-radio-warpper-' + disabled" @click="clickHandler" :style="sizeStyle">
    <span class="jm-radio-circle" :class="'jm-radio-circle-' + (value == label) + '-' + disabled"></span>
    <label class="jm-radio-text" :class="'jm-radio-text-' + (value == label) + '-' + disabled"><slot></slot></label>
  </div>
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-text',
    
    mixins: [mixedSize],

    props: {
      width: {
        type: [String, Number],
        default: 'auto'
      },
      height: {
        type: [String, Number],
        default: '16'
      },
      value: {
        type: [String, Number, Boolean],
        default: ''
      },
      label: {
        type: [String, Number, Boolean],
        default: ''
      },
      disabled: {
        type: Boolean,
        default: false
      }
    },
    
    data(){
		  return {
      }
    },
    
    mounted(){
		  this.init()
    },

    methods: {
      init(){
      },
  
      clickHandler(){
        this.disabled || this.$emit('input', this.label)
      }
    }
	}
</script>
