.jm-ui{

	&.jm-container{

		&.jm-hori-left-top{
			@include box-hori-left-top;
		}
		&.jm-hori-left-middle{
			@include box-hori-left-middle;
		}
		&.jm-hori-left-bottom{
			@include box-hori-left-bottom;
		}
		&.jm-hori-center-top{
			@include box-hori-center-top;
		}
		&.jm-hori-center-middle{
			@include box-hori-center-middle;
		}
		&.jm-hori-center-bottom{
			@include box-hori-center-bottom;
		}
		&.jm-hori-right-top{
			@include box-hori-right-top;
		}
		&.jm-hori-right-middle{
			@include box-hori-right-middle;
		}
		&.jm-hori-right-bottom{
			@include box-hori-right-bottom;
		}


		&.jm-vert-left-top{
			@include box-vert-left-top;
		}
		&.jm-vert-left-middle{
			@include box-vert-left-middle;
		}
		&.jm-vert-left-bottom{
			@include box-vert-left-bottom;
		}
		&.jm-vert-center-top{
			@include box-vert-center-top;
		}
		&.jm-vert-center-middle{
			@include box-vert-center-middle;
		}
		&.jm-vert-center-bottom{
			@include box-vert-center-bottom;
		}
		&.jm-vert-right-top{
			@include box-vert-right-top;
		}
		&.jm-vert-right-middle{
			@include box-vert-right-middle;
		}
		&.jm-vert-right-bottom{
			@include box-vert-right-bottom;
		}
	}

	&.jm-button{
		@include box-hori-center-middle;
		font-size: 14px;
		transition: .2s;
		border-radius: 3px;
		cursor: pointer;
		background: transparent;
    overflow: visible;
    padding-bottom: 1px;

		//[this.type, this.plain, this.round]
		&.jm-button-default{
			border: solid 1px $default-color;
			color: $text-color;

			&:hover{
				border-color: rgba($primary-color, .6);
				background: rgba($primary-color, .2);
				color: $primary-color;
			}

			&.jm-button-plain{

				&:hover{
					border-color: $primary-color;
					background: transparent;
					color: $primary-color;
				}
			}
		}

		&.jm-button-primary{
			border: none;
			color: #fff;
			background: $primary-color;

      &:hover{
        background: rgba($primary-color, .7);
      }

			&.jm-button-plain{
        border: solid 1px $primary-color;
				background: rgba($primary-color, .2);
				color: $primary-color;

				&:hover{
					background: $primary-color;
					color: #fff;
				}

				&.jm-button-disabled{
					 &:hover{
						 background: rgba($primary-color, .2);
						 color: $primary-color;
						 cursor: default;
					 }
				}
			}

      &.jm-button-disabled{
        opacity: .5;

        &:hover{
          opacity: .5;
          cursor: not-allowed;
        }
      }
		}

		&.jm-button-success{
			border: solid 1px $success-color;
			color: #fff;
			background: $success-color;

      &:hover{
        background: rgba($success-color, .7);
      }

			&.jm-button-disabled{
				opacity: .5;
			}

			&.jm-button-plain{
				background: rgba($success-color, .2);
				color: $success-color;

				&:hover{
					background: $success-color;
					color: #fff;
				}

				&.jm-button-disabled{
					&:hover{
						background: rgba($success-color, .2);
						color: $success-color;
						cursor: default;
					}
				}
			}
		}

		&.jm-button-info{
			border: solid 1px $info-color;
			color: #fff;
			background: $info-color;

      &:hover{
        background: rgba($info-color, .7);
      }

			&.jm-button-disabled{
				opacity: .5;
			}

			&.jm-button-plain{
				background: rgba($info-color, .2);
				color: $info-color;

				&:hover{
					background: $info-color;
					color: #fff;
				}

				&.jm-button-disabled{
					&:hover{
						background: rgba($info-color, .2);
						color: $info-color;
						cursor: default;
					}
				}
			}
		}

		&.jm-button-warning{
			border: solid 1px $warning-color;
			color: #fff;
			background: $warning-color;

      &:hover{
        background: rgba($warning-color, .7);
      }

			&.jm-button-disabled{
				opacity: .5;
			}

			&.jm-button-plain{
				background: rgba($warning-color, .2);
				color: $warning-color;

				&:hover{
					background: $warning-color;
					color: #fff;
				}

				&.jm-button-disabled{
					&:hover{
						background: rgba($warning-color, .2);
						color: $warning-color;
						cursor: default;
					}
				}
			}
		}

		&.jm-button-danger{
			border: solid 1px $danger-color;
			color: #fff;
			background: $danger-color;

      &:hover{
        background: rgba($danger-color, .7);
      }

			&.jm-button-disabled{
				opacity: .5;
			}

			&.jm-button-plain{
				background: rgba($danger-color, .2);
				color: $danger-color;

				&:hover{
					background: $danger-color;
					color: #fff;
				}

				&.jm-button-disabled{
					&:hover{
						background: rgba($danger-color, .2);
						color: $danger-color;
						cursor: default;
					}
				}
			}
		}

    &.jm-button-text{
      border: none;
      color: inherit;
      background: transparent;

      &.jm-button-disabled{
        opacity: .5;
      }
    }

		&.jm-button-round{
			border-radius: 100px;
		}

    .iconfont{
      @include box-hori-center-middle;
      width: 21px;
      height: 18px;
      font-size: 12px;
      background: transparent;
    }

    .jm-button-loading{
      width: 24px;
      height: 24px;
      background: url("../../assets/imgs/loading.gif") center center /16px 16px no-repeat #fff;
      border-radius: 24px;
      transform: translateX(-25px);
      cursor: pointer;

      .loading-text{
        position: absolute;
        height: 18px;
        width: 20px;
        line-height: 18px;
        left: 100%;
        margin-left: 5px;
        top: 3px;
        font-size: 12px;
        background: transparent;
        cursor: pointer;
      }
    }
	}
}
