.jm-ui{

	&.jm-list-warpper{
    @include box-vert-left-top;

    .loading-masker{
      @include box-vert-center-middle;
      height: 100%;
      width: 100%;
      background: url("../imgs/loading.gif") center center no-repeat;
      transform: translateY(-25px);

      label{
        @include box-hori-center-middle;
        height: 20px;
        margin-top: 75px;
        font-size: 12px;
        color: $text-color;
      }
    }

    .jm-list-slider{
      @include box-vert-left-top;
      overflow-y: auto;

      .jm-list-item-row{
        @include box-hori-left-middle;
        padding: 10px 15px;
        height: auto;
        font-size: 12px;
        color: $text-color;
        transition: background .3s;

        &:hover{
          background: rgba($primary-color, .2);
          cursor: pointer;
        }

        &.fetch-item-row-true{
          background: rgba($primary-color, .3);

          &:hover{
            background: rgba($primary-color, .4);
          }
        }

        &:last-child{
          border: none;
          border-radius: 0 0 5px 5px;
        }
      }
    }
	}

  &.jm-grid-warpper{
    @include box-vert-left-top;
    border: solid 1px $grid-border-color;
    border-radius: 4px;
    overflow: hidden;

    .jm-grid-header{
      @include box-hori-left-top;
      height: 42px;
      border-bottom: solid 1px $grid-border-color;
      overflow: hidden;

      .jm-grid-header-slider{
        @include box-hori-left-top;
        height: 100%;
        width: 100%;

        .jm-grid-header-item{
          @include box-hori-left-middle;
          height: 100%;
          font-size: 14px;
          color: $text-color;
          font-weight: bold;
          padding: 0 10px;

          .sort-case{
            @include box-vert-center-middle;
            width: 18px;
            height: 24px;
            margin-left: 10px;
            overflow: hidden;

            .iconfont{
              @include box-vert-center-middle;
              width: 100%;
              font-size: 12px;
              height: 12px;
              color: rgba($text-color, .3);
              transition: color .3s;
              cursor: pointer;

              &.icon-up-arr{
                padding-top: 3px;

                &:hover{
                  color: $primary-color;
                }
              }
              &.icon-down-arr{
                padding-bottom: 3px;

                &:hover{
                  color: $danger-color;
                }
              }
            }
          }
        }

        .jm-grid-fixed-left-header{
          @include box-hori-left-top;
          height: 100%;
          overflow: hidden;
          z-index: 10;
          position: absolute;
          left: 0;
          background: #fff;
          box-shadow: 3px 0 5px rgba(0, 0, 0, .08);
        }

        .jm-grid-header-inner{
          @include box-hori-left-top;
          height: 100%;
        }

        .jm-grid-fixed-right-header{
          @include box-hori-left-top;
          height: 100%;
          overflow: hidden;
          z-index: 10;
          position: absolute;
          right: 0;
          background: #fff;
          box-shadow: -3px 0 5px rgba(0, 0, 0, .08);
        }
      }
    }

    .jm-grid-body{
      @include box-hori-left-top;
      overflow: hidden;

      .jm-grid-row-case{
        @include box-hori-left-middle;
        height: 36px;
        border-bottom: solid 1px $grid-border-color;
        transition: background .3s;

        .jm-grid-col-case{
          @include box-hori-left-middle;
          padding: 0 10px;
          height: 100%;
          font-size: 12px;
          color: $text-color;

          .label{
            @include box-hori-left-middle;
            height: 100%;
            background: transparent;

            .iconfont{
              @include box-hori-left-middle;
              height: 100%;
              width: 21px;
              font-size: 12px;

              &.icon-dialog{
                padding-top: 2px;
              }
            }
          }
        }

        &:hover{
          background: #ecf5ff;
        }

        &.jm-grid-row-case-true{
          background: #d6e9fe;
        }
      }

      .jm-grid-body-slider{
        @include box-vert-left-top;
        height: 100%;
        overflow: auto;

        .jm-grid-body-inner{
          @include box-vert-left-top;
        }
      }

      .jm-grid-fixed-left-body{
        @include box-vert-left-top;
        z-index: 10;
        position: absolute;
        left: 0;
        background: #fff;
        height: auto;
        box-shadow: 3px 0 5px rgba(0, 0, 0, .08);
      }

      .jm-grid-fixed-right-body{
        @include box-vert-left-top;
        z-index: 10;
        position: absolute;
        right: 0;
        background: #fff;
        height: auto;
        box-shadow: -3px 0 5px rgba(0, 0, 0, .08);
      }
    }

    .jm-grid-counter{
      @include box-hori-left-middle;
      height: 30px;
      border-top: solid 1px $grid-border-color;
      font-size: 12px;
      padding: 0 15px 1px;
      color: $text-color;
    }
  }

  &.jm-pagination-warpper{
    @include box-hori-left-middle;
    height: 20px;
    width: 40%;
    padding: 0 10px;
  }

  &.jm-tree-warpper{
    @include box-vert-left-top;
    font-size: 12px;

    .jm-tree-node-warpper{
      @include box-vert-left-middle;
      height: auto;
      overflow: hidden;

      .jm-tree-node{
        @include box-hori-left-middle;
        min-height: 36px;
        height: auto;
        color: $text-color;

        /*&:hover{
          background: rgba(0, 0, 0, .1);
          cursor: default;
        }*/

        &.jm-tree-default-light-row{
          background: rgba($primary-color, .2);
          color: #000;

          &:hover{
            background: rgba($primary-color, .2);
            cursor: default;
          }
        }
      }

      .jm-tree-node-icon{
        @include box-hori-center-middle;
        width: 21px;
        height: 18px;
        overflow: hidden;
        font-size: 30px;
        cursor: pointer;
        color: $text-less-color;
        transition: transform .2s, color .3s;

        &.node-state-true{
          transform: rotate(90deg);
        }

        &:hover{
          color: $primary-color;
        }
      }

      .jm-tree-node-empty-icon{
        @include box-hori-center-middle;
        width: 21px;
        height: 18px;
        overflow: hidden;
      }
    }
  }
}
