.jm-ui{

	&.jm-combox-warpper{
    @include box-vert-left-top;
    position: absolute;
    z-index: 500;
    top: 100%;
    left: 0;
    cursor: default;
    overflow: visible;
    padding-top: 10px;
    transform-origin: top;
    transition: transform .2s;
    background: transparent;

    .jm-combox-arr-warpper{
      @include box-vert-center-bottom;
      width: 32px;
      height: 10px;
      background: transparent;
      position: absolute;
      z-index: 10;
      top: 2px;
      overflow: hidden;

      i{
        width: 10px;
        margin-left: 11px;
        height: 10px;
        background: #fff;
        transform: rotate(45deg) translateY(7px);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      }
    }

    .jm-combox-case{
      @include box-vert-left-top;
      width: 100%;
      height: 100%;
      background: #fff;
      //border: solid 1px #dedede;
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, .25);
      overflow: hidden;
      overflow-y: auto;
    }
	}

  &.jm-input-warpper{
    @include box-hori-left-middle;
    background: #fff;
    border: solid 1px rgba($text-less-color, .3);
    border-radius: 4px;
    transition: border .3s;
    cursor: text;
    padding: 0 3px;
    overflow: visible;

    &.round{
      border-radius: 100px;
    }

    .jm-input-ele{
      @include box-hori-left-middle;
      line-height: 20px;
      color: $text-color;
      height: 22px;
      padding: 0 24px 0 8px;
      font-size: 12px;
      cursor: inherit;
      font-style: inherit;

      &::-webkit-input-placeholder {
        color: #c0c0c0;
        font-size: 12px;
      }
    }

    .jm-textarea-warpper{
      @include box-vert-left-top;
      height: 100%;
      width: 100%;

      .jm-input-area-ele{
        @include box-hori-left-middle;
        width: 100%;
        color: $text-color;
        height: 100%;
        padding: 6px 24px 6px 6px;
        font-size: 12px;
        cursor: inherit;
        font-style: inherit;
        resize: none;

        &::-webkit-input-placeholder {
          color: #c0c0c0;
          font-size: 12px;
        }
      }

      .jm-text-area-tip{
        @include box-hori-right-middle;
        height: 24px;
        color: $text-less-color;
        font-size: 12px;
        padding-right: 8px;
      }
    }

    &:hover{
      border-color: rgba($primary-color, .7);
      background: rgba($primary-color, .05);
    }

    .user-icon{
      @include box-vert-center-middle;
      width: 21px;
      height: 32px;
      font-size: 12px;
      border-radius: 100px;
      background: transparent;
    }

    .icon-close{
      @include box-vert-center-middle;
      width: 21px;
      height: 100%;
      font-size: 10px;
      color: #ccc;
      transition: color .3s;
      position: absolute;
      right: 3px;
      top: 0;
      background: transparent;

      &:hover{
        cursor: pointer;
        color: rgba($danger-color, .6);
      }
    }

    .icon-password{
      @include box-vert-center-middle;
      padding-top: 3px;
      width: 21px;
      height: 32px;
      color: #bbb;
      transition: color .3s;

      &:hover{
        cursor: pointer;
        color: #666;
      }
    }

    &.jm-input-warpper-true{
      background: rgba($text-less-color, .3);
      cursor: not-allowed;
      font-style: italic;

      &:hover{
        border-color: rgba($text-less-color, .5);
      }
    }
  }

  &.jm-select-warpper{
    cursor: pointer;

    .icon-array-down{
      @include box-vert-center-middle;
      width: 18px;
      height: 18px;
      font-size: 12px;
      padding-bottom: 2px;
      color: $text-less-color;
      border-radius: 24px;
      margin-right: 3px;
      transition: background .3s, transform .15s;

      &.icon-array-down-true{
        transform: rotate(180deg)
      }
      &.icon-array-down-false{
        transform: rotate(0)
      }

      &:hover{
        background: rgba($text-strong-color, .15);
        color: rgba($primary-color, .8);
      }
    }
  }

  &.jm-text-warpper{
    @include box-hori-left-middle;
    font-size: 14px;
  }

  &.jm-radio-warpper{
    @include box-hori-left-middle;
    padding: 0 5px;
    width: auto;

    &.jm-radio-warpper-true{
      cursor: not-allowed;
    }

    .jm-radio-circle{
      @include box-hori-center-middle;
      width: 16px;
      height: 16px;
      background: #fff;
      border-radius: 18px;
      border: solid 1px transparent;
      margin-right: 5px;
      transition: border .3s;
      cursor: pointer;

      &.jm-radio-circle-false-false{
        border: solid 1px $text-less-color;

        &:hover{
          border: solid 1px $primary-color;
        }
      }
      &.jm-radio-circle-false-true{
        border: solid 1px $text-bad-color;
        cursor: not-allowed;
      }
      &.jm-radio-circle-true-false{
        border: solid 5px $primary-color;

        &:hover{
          border: solid 7px $primary-color;
        }
      }
      &.jm-radio-circle-true-true{
        border: solid 5px $text-less-color;
        cursor: not-allowed;
      }
    }

    .jm-radio-text{
      @include box-hori-left-middle;
      width: auto;
      font-size: 12px;
      color: $text-color;
      cursor: pointer;

      &.jm-radio-text-true-true{
        color: $text-less-color;
        cursor: not-allowed;
      }
      &.jm-radio-text-false-true{
        color: $text-less-color;
        cursor: not-allowed;
      }
      &.jm-radio-text-true-false{
        color: $primary-color;
      }
    }
  }

  &.jm-switch-warpper{
    @include box-hori-left-middle;
    border-radius: 24px;
    padding: 1px;
    transition: background .3s;
    cursor: pointer;

    &.jm-switch-warpper-true{
      opacity: .5;
      cursor: not-allowed;
    }

    .jm-switch-slider{
      background: #fff;
      border-radius: 32px;
      position: absolute;
      top: 1px;
      cursor: pointer;
      transition: left .2s, right .2s;

      &.jm-switch-slider-true{
        cursor: not-allowed;
      }
    }
  }

  &.jm-date-warpper{

    .icon-dialog{
      @include box-vert-center-middle;
      color: $text-less-color;
      width: 24px;
      height: 24px;
      font-size: 14px;
    }

    .jm-date-border{
      @include box-vert-left-top;
      width: 100%;
      overflow: hidden;
      position: relative;

      .jm-date-title{
        @include box-hori-left-middle;
        height: 36px;

        .date-title{
          @include box-hori-center-middle;
          font-size: 14px;
          color: $text-color;
          padding-top: 0;

          label{
            @include box-hori-center-middle;
            padding: 2px 6px;
            width: auto;
            border-radius: 4px;
            margin: 0 5px;
            cursor: pointer;

            &:hover{
              background: rgba($primary-color, .3);
            }
          }
        }

        .iconfont{
          @include box-hori-center-middle;
          width: 36px;
          height: 100%;
          font-size: 12px;
          padding-top: 2px;

          &.over{
            padding-bottom: 4px;
            transform: rotate(180deg);
          }

          &:hover{
            color: $primary-color;
            cursor: pointer;
          }
        }
      }

      .week-list{
        @include box-hori-center-middle;
        height: 36px;
        width: 100%;

        .week-item-row{
          @include box-hori-center-middle;
          height: 50px;
          color: $text-less-color;
          font-size: 14px;
        }
      }

      .day-list{
        display: block;
        width: 100%;

        .day-item-row{
          @include box-hori-center-middle;
          width: 14.28%;
          float: left;
          height: 28px;
          font-size: 12px;

          .day-cricle{
            @include box-hori-center-middle;
            width: 24px;
            height: 24px;
            border-radius: 20px;

            &:hover{
              background: rgba($primary-color, .25);
              cursor: pointer;
            }

            &.day-cricle-false-false{
              &:hover{
                background: transparent;
                cursor: default;
              }
            }
            &.day-cricle-true-true{
              background: rgba($danger-color, .8);
              color: #fff;
            }
          }
        }
      }

      .jm-picker-case{
        @include box-hori-center-top;
        width: 100%;
        height: 100%;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        .jm-year-case{
          display: block;
          width: 100%;
          height: 100%;
          padding: 15px 0;

          .year-item-row{
            text-align: center;
            line-height: 30px;
            width: 25%;
            height: 30px;
            display: block;
            float: left;
            font-size: 12px;
            border-radius: 5px;
            transition: background .3s, color .3s;

            &:hover{
              cursor: pointer;
              background: rgba($primary-color, .3);
              color: $primary-color;
            }
          }
        }

        .iconfont{
          @include box-hori-center-middle;
          width: 24px;
          height: 100%;
          font-size: 24px;
          color: rgba($text-less-color, .6);
          transition: background .3s;

          &.over{
            transform: rotate(180deg);
          }

          &:hover{
            background: rgba(0, 0, 0, .15);
            cursor: pointer;
            color: #fff;
          }
        }
      }
    }
  }

  &.jm-checkbox-warpper{
    @include box-hori-left-middle;

    .jm-checkbox-boxer{
      @include box-hori-center-middle;
      width: 16px;
      height: 16px;
      border: solid 1px rgba($text-color, .5);
      border-radius: 2px;
      margin-right: 6px;
      transition: border .3s, background .3s;
      cursor: pointer;

      &:hover{
        border: solid 1px rgba($primary-color, 1);
      }

      &.iconfont{
        font-weight: 300;

        &.check-true{
          border: solid 1px $primary-color;
          background: $primary-color;
          color: #fff;
        }
        &.check-false{
          color: transparent;
        }
      }

      .check-indeterminate{
        width: 8px;
        height: 2px;
        background: rgba(255, 255, 255, .5);
        position: absolute;
        top: 6px;
        left: 3px;
      }

      &.disabled{
        border: solid 1px rgba($text-color, .5);
        background: rgba($text-color, .3);

        &.check-true{
          border: solid 1px rgba($text-color, .5);
          background: rgba($text-color, .3);
          color: $text-less-color;
        }

        &:hover{
          cursor: not-allowed;
          border: solid 1px rgba($text-color, .5);
          background: rgba($text-color, .3);
        }
      }
    }

    .jm-checkbox-text{
      @include box-hori-left-middle;
      font-size: 12px;
      height: auto;
      cursor: pointer;

      &.check-true{
        color: $primary-color;
      }

      &.disabled{
        color: $text-less-color;

        &.check-true{
          color: $text-less-color;
        }

        &:hover{
          cursor: not-allowed;
        }
      }
    }
  }
}
