.jm-ui{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	cursor: inherit;
	height: inherit;
	overflow: visible;
	font-size: inherit;
  background: transparent;

  *{
    box-sizing: border-box;
	  position: relative;
	  background: transparent;
  }

	input, textarea{
		outline: none;
		border: none;
		background: transparent;
	}

	h1,h2,h3,h4,h5,h6{
		font-weight: normal;
	}

	ul,ol,li{
    padding: 0;
    margin: 0;
		list-style-type: none;
	}

	::-webkit-scrollbar{width: 8px; height: 8px; background-color: rgba(0, 0, 0, .1); cursor:pointer;}
	::-webkit-scrollbar-track{background-color: transparent; cursor:pointer;}
	::-webkit-scrollbar-thumb{background-color: rgba(#0ea4f1, 0.35); border-radius: 0; border: solid 0px rgba(255, 255, 255, 1); cursor: pointer;}
	::-webkit-scrollbar-corner{background: rgba(0, 0, 0, .1);}
}

@mixin box{
	display: flex;
	flex-wrap: nowrap;
	flex-shrink: 0; //不挤压
}
@mixin box-hori{
	@include box;
	width: 100%;
	flex-flow: row;
}
@mixin box-hori-left{
	@include box-hori;
	justify-content: flex-start;
}
@mixin box-hori-left-top{
	@include box-hori-left;
	align-items: flex-start;
}
@mixin box-hori-left-middle{
	@include box-hori-left;
	align-items: center;
}
@mixin box-hori-left-bottom{
	@include box-hori-left;
	align-items: flex-end;
}

@mixin box-hori-center{
	@include box-hori;
	justify-content: center;
}
@mixin box-hori-center-top{
	@include box-hori-center;
	align-items: flex-start;
}
@mixin box-hori-center-middle{
	@include box-hori-center;
	align-items: center;
}
@mixin box-hori-center-bottom{
	@include box-hori-center;
	align-items: flex-end;
}

@mixin box-hori-right{
	@include box-hori;
	justify-content: flex-end;
}
@mixin box-hori-right-top{
	@include box-hori-right;
	align-items: flex-start;
}
@mixin box-hori-right-middle{
	@include box-hori-right;
	align-items: center;
}
@mixin box-hori-right-bottom{
	@include box-hori-right;
	align-items: flex-end;
}

@mixin box-vert{
	@include box;
	flex-flow: column nowrap;
}
@mixin box-vert-left{
	@include box-vert;
	width: 100%;
	height: 100%;
	align-items: flex-start;
}
@mixin box-vert-left-top{
	@include box-vert-left;
	justify-content: flex-start;
}
@mixin box-vert-left-middle{
	@include box-vert-left;
	justify-content: center;
}
@mixin box-vert-left-bottom{
	@include box-vert-left;
	justify-content: flex-end;
}

@mixin box-vert-center{
	@include box-vert;
	align-items: center;
}
@mixin box-vert-center-top{
	@include box-vert-center;
	justify-content: flex-start;
}
@mixin box-vert-center-middle{
	@include box-vert-center;
	justify-content: center;
}
@mixin box-vert-center-bottom{
	@include box-vert-center;
	justify-content: flex-end;
}

@mixin box-vert-right{
	@include box-vert;
	align-items: flex-end;
}
@mixin box-vert-right-top{
	@include box-vert-right;
	justify-content: flex-start;
}
@mixin box-vert-right-middle{
	@include box-vert-right;
	justify-content: center;
}
@mixin box-vert-right-bottom{
	@include box-vert-right;
	justify-content: flex-end;
}

.auto-fill{
  flex: 1.0;
}

$default-color: #c0c0c0;
$primary-color: #0ea4f1;
$success-color: #41B883;
$warning-color: #E6A23C;
$danger-color: #E94D3E;
$info-color: #afafaf;

$text-strong-color: #333;
$text-color: #666;
$text-less-color: #999;
$text-bad-color: #bbb;

$grid-border-color: #e5ebf5;
$grid-header-bg-color: #e9eef6;

@import './basic.scss';
@import './form.scss';
@import './data.scss';
@import './navigation.scss';
@import './notice.scss';
@import './iconfont.css';
