@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf?t=1554098579824') format('truetype'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remove:before {
  content: "\e79a";
}

.icon-add:before {
  content: "\e617";
}

.icon-user:before {
  content: "\e61d";
  padding-top: 1px;
}

.icon-detail:before {
  content: "\e600";
}

.icon-config:before {
  content: "\e624";
}

.icon-menu:before {
  content: "\e6f4";
}

.icon-uneye:before {
  content: "\e603";
}

.icon-close:before {
  content: "\e62b";
  padding-top: 1px;
}

.icon-eye:before {
  content: "\e6b1";
}

.icon-keyborad:before {
  content: "\e602";
  padding-top: 2px;
}

.icon-moreread:before {
  content: "\e608";
}

.icon-star-o:before {
  content: "\e90d";
}

.icon-up-load:before {
  content: "\e64a";
}

.icon-check:before {
  content: "\e747";
  padding-top: 1px;
  padding-left: 1px;
}

.icon-check-bold:before {
  content: "\e60d";
}

.icon-check2:before {
  content: "\eabc";
}

.icon-star:before {
  content: "\e632";
}

.icon-search:before {
  content: "\e604";
  padding-top: 1px;
}

.icon-home:before {
  content: "\e605";
  padding-top: 2px;
}

.icon-download:before {
  content: "\e606";
}

.icon-close-o:before {
  content: "\e678";
  padding-top: 1px;
}

.icon-edit:before {
  content: "\e616";
}

.icon-heart:before {
  content: "\e61c";
}

.icon-array-down:before {
  content: "\e609";
  padding-top: 2px;
}

.icon-array-up:before {
  content: "\e60a";
}

.icon-array-right:before {
  content: "\e60b";
}

.icon-loading:before {
  content: "\e620";
}

.icon-zoom:before {
  content: "\e8f2";
}

.icon-manager:before {
  content: "\e6d5";
  padding-top: 2px;
}

.icon-message:before {
  content: "\e60c";
  padding-top: 12px;
}

.icon-account:before {
  content: "\e607";
  padding-top: 2px;
}

.icon-wuliu:before {
  content: "\e612";
}

.icon-combox:before {
  content: "\e733";
}

.icon-dialog:before {
  content: "\e631";
}

.icon-box:before {
  content: "\e69c";
}

.icon-select:before {
  content: "\e659";
}

.icon-tabs:before {
  content: "\e63f";
}

.icon-pane:before {
  content: "\e6a1";
}

.icon-input:before {
  content: "\e72a";
}

.icon-vert:before {
  content: "\e60e";
}

.icon-hori:before {
  content: "\e9e3";
}

.icon-page:before {
  content: "\e64b";
}

.icon-checkbox:before {
  content: "\e752";
}

.icon-button:before {
  content: "\e61a";
}

.icon-tree:before {
  content: "\e6e8";
}

.icon-crumb:before {
  content: "\e874";
}

.icon-radio:before {
  content: "\e66f";
}

.icon-left-arr2:before {
  content: "\e610";
}

.icon-right-arr2:before {
  content: "\e60f";
}

.icon-up-arr:before {
  content: "\e64d";
}

.icon-down-arr:before {
  content: "\e611";
}

.icon-right-arr3:before {
  content: "\e613";
}

.icon-hook:before {
  content: "\e614";
}
