.jm-ui{

	&.jm-crumb-warpper{
    @include box-hori-left-middle;
    font-size: 14px;

    .jm-crumb-item{
      @include box-hori-left-middle;
      padding: 0 5px;
      color: $text-color;
      width: auto;

      &:hover{
        cursor: pointer;
        color: $text-strong-color;
      }
    }

    .iconfont{
      @include box-vert-center-middle;
      height: 100%;
      width: 24px;
      color: rgba($text-less-color, .75);
      padding-top: 3px;
      background: transparent;

      &.icon-down-arr{
        font-size: 12px;
        width: auto;
        cursor: pointer;
        transition: color .3s;

        &:hover{
          color: $text-strong-color;
        }
      }

      &.icon-home{
        width: 14px;
        padding-bottom: 2px;
        color: rgba($text-less-color, 1);
      }
    }

    .sub-item-case{
      background: transparent;
      transition: background .3s;
      padding: 0 15px;
      color: $text-color;
      position: relative;

      &:hover{
        background: rgba($primary-color, .2);
        cursor: pointer;
      }

      .sub-item-selected{
        border-radius: 16px;
        background: $primary-color;
        position: absolute;
        top: 50%;
        margin-top: -6px;
        right: 10px;
      }
    }
	}
}
