.jm-ui{
  
  .jm-window-topper{
    @include box-vert-center-top;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 0 10px;
  }
  
  .jm-masker-warpper{
    @include box-vert-center-middle;
    position: fixed;
    transition: opacity, .2s;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
  }
  
  .jm-unmasker-warpper{
    @include box-vert-center-middle;
    background: transparent;
  }
  
  .jm-notice-warpper{
    @include box-vert-center-middle;
    transition: opacity, .2s, transform .2s;
    background: #f1f4f9;
    border-radius: 7px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
    
    &.jm-notice-alert-case{
      width: 320px;
      height: auto;
      min-height: 100px;
      max-height: 50%;
      background: #fff;
    }
    
    &.jm-notice-toast-case{
      @include box-hori-center-middle;
      width: 100%;
      height: 42px;
      background: #fff;
      margin-top: 10px;
      padding: 0 15px;
      box-shadow: 0 0 7px rgba($success-color, .7);
      
      &.jm-notice-toast-case-success{
        background: #d9f1e6;
      }
      
      .iconfont{
        @include box-hori-center-middle;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        margin-right: 16px;
        
        &.icon-check{
          color: #fff;
          font-size: 16px;
        }
        
        &.success{
          background: $success-color;
        }
      }
      
      .toast-text{
        height: auto;
      }
    }
  }
  
  .jm-notice-dialog-case{
    @include box-vert-left-top;
    background: #fff;
    border-radius: 11px;
    transition: transform .2s, opacity .2s;
    
    .dialog-header{
      @include box-hori-left-middle;
      height: 50px;
      padding: 0 25px;
      font-size: 16px;
      font-weight: bold;
    }
    
    .dialog-content{
      @include box-vert-left-top;
      background: #f0f0f0;
      border-radius: 0 0 11px 11px;
    }
  }
}
