<template>
  <div class="jm-ui jm-checkbox-warpper" :style="sizeStyle" @click="checkClickHandler">
    <span class="jm-checkbox-boxer iconfont icon-check" :class="[(value && !indeterminate) ? 'check-true' : 'check-false', indeterminate ? 'check-true' : '', disabled ? 'disabled' : '']">
      <i class="check-indeterminate" v-if="indeterminate"></i>
    </span>
    <label class="jm-checkbox-text" :class="[value ? 'check-true' : '', disabled ? 'disabled' : '']"><slot></slot></label>
  </div>
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-checkbox',
    
    mixins: [mixedSize],

    props: {
      width: {
        type: [String, Number],
        default: 'auto'
      },
      height: {
        type: [String, Number],
        default: '16'
      },
      value: {
        type: Boolean,
        default: false
      },
      disabled: {
        type: Boolean,
        default: false
      },
      indeterminate: {
        type: Boolean,
        default: false
      }
    },
    
    data(){
		  return {
      }
    },
    
    mounted(){
		  this.init()
    },

    methods: {
      init(){
      },
  
      checkClickHandler(){
        this.disabled || (this.$emit('input', !!!this.value), this.$emit('checkClickHandler', !!!this.value))
      }
    }
	}
</script>
