<template>
  <div class="jm-notice-warpper jm-notice-alert-case">
    {{title}},{{content}},{{iconType}}
  </div>
</template>

<script>
  import utils from '../../../utils.js'

	export default {
		name: 'jm-alert',

    props: {
			title: {
				type: String,
				default: 'title'
			},
			content: {
				type: String,
				default: 'content'
			},
			iconType: {
				type: String,
				default: 'success'
      }
    },
    
    data(){
		  return {
      }
    },
    
    mounted(){
    },

    methods: {
    }
	}
</script>
