<script>
  import utils from '../utils.js'

	export default {
    props: {
      overflow: {
        type: String,
        default: 'visible'
      }
    },
    
    computed: {
			sizeStyle(){
				let
          width = utils.formatSize(this.width || ''),
          height = utils.formatSize(this.height || ''),
          size = Object.create(null)

				width && (size.width = width + (/auto|%/.test(width) ? '' : 'px'))
				height && (size.height = height + (/auto|%/.test(height) ? '' : 'px'))
        size.overflow = this.overflow
        return size
      }
    }
	}
</script>

<style>

</style>
