<template>
  <jm-input
    class="jm-select-warpper"
    :width="width"
    :readonly="readonly"
    :disabled="disabled"
    :height="height"
    :comboxWidth="comboxWidth"
    :comboxHeight="comboxHeight"
    :writable="writable"
    :placeholder="placeholder"
    @fetch="fetchHandler"
    v-model="value"
    mode="select"
    @clickHandler="clickHandler"
    @selectHandler="selectHandler"
  >
    <template slot="prefix"><slot name="prefix"></slot></template>
    <i class="iconfont icon-array-down" :class="'icon-array-down-' + open" slot="suffix"></i>
    <template slot="combox-slot" v-if="$slots['combox-slot']"><slot name="combox-slot"></slot></template>
  </jm-input>
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-select',
    
    mixins: [mixedSize],

    props: {
      width: {
        type: [String, Number],
        default: '120'
      },
      height: {
        type: [String, Number],
        default: '36'
      },
		  value: {
		    type: [String, Number],
        default: ''
      },
      trigger: {
        type: String,
        default: 'click'  //触发方式： click|over
      },
      readonly: {
        type: Boolean,
        default: false
      },
      disabled: {
        type: Boolean,
        default: false
      },
      comboxWidth: {
        type: [String, Number],
        default: '100%'
      },
      comboxHeight: {
        type: [String, Number],
        default: '100'
      },
      writable: {
        type: Boolean,
        default: false
      },
			placeholder: {
      	type: String,
        default: ''
      }
    },
    
    data(){
		  return {
				resources: [],
        open: false
      }
    },
    
    mounted(){
		  this.init()
    },

    methods: {
      init(){
      },

			fetchHandler(){
        let events = this._events
        if(events && events.fetch && events.fetch[0]){
          return this._events.fetch[0]()
        }
        return {}
      },
  
      clickHandler(open){
			  this.open = open
      },
  
      selectHandler(code){
        this.$emit('input', code)
      }
    }
	}
</script>
