<template>
  <div class="jm-ui jm-crumb-warpper">
    <!--<span class="iconfont icon-home"></span>-->
    <span class="jm-crumb-item" @click="home">首页</span>
    <template v-for="(nav, idx) in navs">
      <span class="iconfont icon-right-arr2"></span>
      <span class="jm-crumb-item">
        {{nav.name}}
      </span>
      <span class="iconfont icon-down-arr" @click="getSubMenus(nav)" v-if="navs.length > 1 && idx === navs.length - 2 && nav.sub && nav.sub.length > 1">
        <jm-combox width="120" height="auto">
          <jm-list :resources="subNavs" @selectHandler="selectHandler">
            <template slot-scope="data" slot="user-defined">
              <jm-col height="36" valign="middle" class="sub-item-case">
                {{data.data.name}}
                <jm-text width="12" height="12" class="sub-item-selected" v-if="data.data.code == navs[navs.length - 1].code" />
              </jm-col>
            </template>
          </jm-list>
        </jm-combox>
      </span>
    </template>
  </div>
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-crumb',
    
    mixins: [mixedSize],

    props: {
      width: {
        type: [String, Number],
        default: '100%'
      },
      height: {
        type: [String, Number],
        default: '36'
      },
      value: {
        type: [String, Number, Boolean],
        default: ''
      },
      menus: {
        type: Array
      }
    },
    
    data(){
		  return {
		    subNavs: []
      }
    },
  
    computed: {
      navs(){
        let menus = this.menus || [], path = this.$route.path, navs = [], keys = []
        _getNavs(menus)

        function _has(item, path, oriItem){
          if(item.url == path){
            oriItem.crumb = true
          }else{
            let i = 0
            if(item.sub){
              for(i; i< item.sub.length; i ++){
                _has(item.sub[i], path, oriItem)
              }
            }
          }
        }
        function _getNavs(menus){
					_init(menus)
          menus.forEach(menu => {
            _has(menu, path, menu)
            if(menu.crumb){
              navs.push(menu)
              if(menu.sub){
                _getNavs(menu.sub)
              }
            }
          })
        }
        function _init(menus){
        	menus && menus.forEach(menu => {
        		menu.crumb = false
            menu.sub && _init(menu.sub)
          })
        }
        navs.forEach(nav => {
          keys.push(nav.code)
        })
        this.$emit('setKey', {
          expands: keys,
          selected: keys[keys.length - 1]
        })
        return navs
      }
    },
    
    mounted(){
		  this.init()
    },

    methods: {
      init(){
      },

			getSubMenus(nav){
				this.subNavs = [].concat(nav.sub)
      },

			selectHandler(item){
        (item.code != this.navs[this.navs.length - 1].code) && item.url && this.$router.push(item.url)
      },

      home(){
				this.$router.push('/')
      }
    }
	}
</script>
