<template>
  123
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-select',
    
    mixins: [mixedSize],

    props: {
      width: {
        type: [String, Number],
        default: '120'
      },
      height: {
        type: [String, Number],
        default: '36'
      },
		  value: {
		    type: [String, Number],
        default: ''
      },
      trigger: {
        type: String,
        default: 'click'  //触发方式： click|over
      },
      readonly: {
        type: Boolean,
        default: false
      },
      disabled: {
        type: Boolean,
        default: false
      },
      comboxWidth: {
        type: [String, Number],
        default: '100%'
      },
      comboxHeight: {
        type: [String, Number],
        default: '100'
      },
      writable: {
        type: Boolean,
        default: false
      }
    },
    
    data(){
		  return {
				resources: [],
        open: false
      }
    },
    
    mounted(){
		  this.init()
    },

    methods: {
      init(){
      },

			fetchHandler(){
        let events = this._events
        if(events && events.fetch && events.fetch[0]){
          return this._events.fetch[0]()
        }
        return {}
      },
  
      clickHandler(open){
			  this.open = open
      },
  
      selectHandler(code){
        this.$emit('input', code)
      }
    }
	}
</script>
