<template>
  <jm-select class="jm-date-warpper" comboxWidth="250" comboxHeight="265" :width="width" :height="height" v-model="value" :writable="true">
    <i class="iconfont icon-dialog" slot="prefix"></i>
    <div class="jm-date-border" slot="combox-slot">
      
      <div class="jm-picker-case" v-if="openYear">
        <span class="iconfont icon-left-arr2"></span>
        <div class="jm-year-case">
          <span v-for="year in years" class="year-item-row" @click.stop="pickYear(year)">{{year}}</span>
        </div>
        <span class="iconfont icon-right-arr2"></span>
      </div>
      <div class="jm-picker-case" v-if="openMonth">
        <div class="jm-year-case">
          <span v-for="month in months" class="year-item-row" @click.stop="pickMonth(month)">{{month}}</span>
        </div>
      </div>
      
      <header class="jm-date-title">
        <span class="iconfont icon-array-right over" title="上一年" @click.stop="calYear(-1)"></span>
        <span class="iconfont icon-array-right over" title="上一月" @click.stop="calMonth(-1)"></span>
        <div class="date-title auto-fill">
          <label @click.stop="selectYear">{{currDate.year}}</label>年<label @click.stop="selectMonth">{{currDate.month}}</label>月
        </div>
        <span class="iconfont icon-array-right" title="下一月" @click.stop="calMonth(1)"></span>
        <span class="iconfont icon-array-right" title="下一年" @click.stop="calYear(1)"></span>
      </header>
      <ul class="week-list">
        <li v-for="week in weeks" class="week-item-row auto-fill">{{week}}</li>
      </ul>
      <ul class="day-list">
        <li v-for="day in days" class="day-item-row">
          <span @click="pickDay(day)" class="day-cricle" :class="'day-cricle-' + !!day + '-' + ([currDate.year,currDate.month,day].join('-') == value)">{{day}}</span>
        </li>
      </ul>
    </div>
  </jm-select>
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-date',
    
    mixins: [mixedSize],

    props: {
      width: {
        type: [String, Number],
        default: '200'
      },
      height: {
        type: [String, Number],
        default: '36'
      },
      value: {
        type: [String, Number, Boolean],
        default: ''
      },
      disabled: {
        type: Boolean,
        default: false
      }
    },
    
    data(){
		  return {
		    currDate: utils.getDate(this.value),
        weeks: ['日','一','二','三','四','五','六'],
        months: [1,2,3,4,5,6,7,8,9,10,11,12],
        openYear: false,
        openMonth: false
      }
    },
    
    mounted(){
		  this.init()
    },
    
    computed: {
      days(){
        let year = this.currDate.year, month = this.currDate.month, week = (new Date([year, month, '1'].join('-'))).getDay()
        let isLeap = year % 4 === 0, isBig = /1|3|5|7|8|10|12/.test(month)
        let days = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28];
        (month == '2') ? isLeap ? days.push(29) : void(0) : isBig ? (days = days.concat([29,30,31])) : (days = days.concat([29,30]))
        days = (new Array(week)).concat(days)
        return days
      },
      
      years(){
        let year = parseInt(this.currDate.year), min = year - 10, max = year + 10, i, years = []
        for(i = min; i <= max; i++){
          years.push(i)
        }
        return years
      }
    },

    methods: {
      init(){
      },
  
      calYear(flag){
        let year = this.currDate.year, month = this.currDate.month, day = this.currDate.day
        this.currDate = utils.getDate([parseInt(year) + parseInt(flag), month, day].join('-'))
      },
  
      calMonth(flag){
        let year = this.currDate.year, month = this.currDate.month, day = this.currDate.day
        this.currDate = utils.getDate([year, parseInt(month) + parseInt(flag), day].join('-'))
      },
  
      pickDay(day){
        let year = this.currDate.year, month = this.currDate.month
        this.$emit('input', [year, month, day].join('-'))
      },
  
      pickYear(year){
        let month = this.currDate.month, day = this.currDate.day
        this.currDate = utils.getDate([year, month, day].join('-'))
        this.openYear = false
      },
  
      pickMonth(month){
        let year = this.currDate.year, day = this.currDate.day
        this.currDate = utils.getDate([year, month, day].join('-'))
        this.openMonth = false
      },
  
      selectYear(){
        this.openYear = !this.openYear
      },
      
      selectMonth(){
        this.openMonth = !this.openMonth
      }
    }
	}
</script>
