<!--<template>
  &lt;!&ndash;<div class="jm-ui jm-masker-warpper" v-if="currWindow && windows.length > 0 && currWindow.type != 'alert'" :style="maskerStyle"></div>&ndash;&gt;
  <div v-for="window in windows" :is="window.component" :key="window.id"></div>
</template>-->
<script>
  import utils from '../../../utils.js'

	export default {
		name: 'jm-window',

    props: {
    },
    
    data(){
		  return {
		  	maskerStyle: {
		  		opacity: 0
        }
      }
    },

    render(c){
    	let type = this.currWindow ? this.currWindow.type : '', windows = this.windows

      var createMasker = (window) => {
        return c('DIV', {
        	'class': windows.length == 1 ? 'jm-masker-warpper' : 'jm-unmasker-warpper'
        }, [createWindow(window)])
      }

      var createWindow = (window) => {
    		let type = window.type || '', component = window.component, props = window.props, id = window.id
        if(type && component && props){
					return c(component, {
						style: {
							width: props.width,
              height: props.height
            },
            props: {
							id,
							title: props.title,
              type,
	            width: props.width,
	            height: props.height,
              params: props.params,
	            page: props.page
            },
						key: window.id
          })
        }
      }

      if(windows.length > 0){
				return c('DIV', {
					'class': 'jm-window-topper'
        }, windows.map(window => {
					let type = window.type || ''
        	if(type === 'toast'){
						return createWindow(window)
          }else{
						return createMasker(window)
          }
				}))
      }
    },

    /*watch: {
			'$store.state.core.windows.length': function(val, old){
        if(val === 1 && old === 0){
    			setTimeout(() => {
    				this.maskerStyle.opacity = 1.0
          }, 100)
        }else if(val === 0 && old !== 0){
					this.maskerStyle.opacity = 0
        }
      }
    },*/
  
    computed: {
			windows(){
				return this.$store.state.core.windows
      },

      currWindow(){
				return this.$store.state.core.currWindow
      }
    },
    
    mounted(){
    },

    methods: {
    }
	}
</script>
