<template>
  <button ref="jm-btn" class="jm-ui jm-button" :class="btnClass" :style="sizeStyle" @click="clickHandler">
    <span v-if="prefixIcon && (!loadingState)" class="iconfont" :class="prefixIcon"></span>
    <slot v-if="!loadingState"></slot>
    <div v-if="loadingState" class="jm-button-loading"><label class="loading-text">loading</label></div>
  </button>
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-button',

    mixins: [mixedSize],

    props: {
			width: {
				type: [String, Number],
        default: '100'
      },
      height: {
				type: [String, Number],
        default: '36'
      },
			plain: {
				type: Boolean,
				default: false
			},
			round: {
				type: Boolean,
				default: false
			},
			disabled: {
				type: Boolean,
        default: false
      },
      type: {
				type: String, //default|primary|success|warning|danger|info|text
        default: 'default'
      },
      text: {
				type: Boolean,
        default: false
      },
			loading: {
				type: Boolean,
        default: false
      },
      prefixIcon: {
			  type: String,
        default: ''
      },
      loadingTime: {
			  type: [String, Number],
        default: 3000
      }
    },
    
    data(){
		  return {
		    loadingState: false
      }
    },
    
    mounted(){
		  this.init()
    },

    computed: {
			btnClass(){
				let classes = ['jm-button-' + this.type]
				this.type !== 'text' && this.plain && classes.push('jm-button-plain')
        this.type !== 'text' && this.round && classes.push('jm-button-round')
        this.disabled && classes.push('jm-button-disabled')
				return classes
      }
    },

    methods: {
      init(){
        this.disabled && this.$refs['jm-btn'].setAttribute('disabled', 'disabled')
      },
  
      clickHandler(){
        let timer = null
        if(this.disabled){
          return
        }
        if(this.loading && (this.loadingState)){
          return
        }
        if(this.loading){
          this.loadingState = true
          timer = setTimeout(() => {
            this.loadingState = false
          }, parseInt(this.loadingTime))
        }
				this.$emit('click', () => {
				  this.loading && (this.loadingState = false)
          if(timer){
				    clearTimeout(timer)
          }
        })
      }
    }
	}
</script>
