<template>
  <div class="jm-ui jm-list-warpper" :style="[sizeStyle, scrollStyle]">
    <div class="loading-masker" v-if="loading"><label>Loading ...</label></div>
    <ul class="jm-list-slider auto-fill" v-if="!loading">
      <li v-for="item in list" v-show="item[display]" :class="!$scopedSlots['user-defined'] ? 'jm-list-item-row' : ''" @click="selectItem(item)">
        {{!$scopedSlots['user-defined'] ? item.name : ''}}
        <slot :data="item" name="user-defined"></slot>
      </li>
    </ul>
  </div>
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-list',
    
    mixins: [mixedSize],

    props: {
      width: {
        type: [String, Number],
        default: '100%'
      },
      height: {
        type: [String, Number],
        default: '100%'
      },
		  value: {
		    type: [String, Number],
        default: ''
      },
      scroll: {
        type: String,
        default: 'none'
      },
      resources: {
        type: Array
      },
      loading: {
        type: Boolean,
        default: false
      },
			display: {
      	type: String,
        default: 'display'
      }
    },
    
    data(){
		  return {
      }
    },
    
    computed: {
      scrollStyle(){
        let scroll = this.scroll, style = {}
        if(scroll == 'y'){
          style = {
            'overflow-y': 'auto'
          }
        }else if(scroll == 'x,y'){
          style = {
            'overflow-y': 'auto',
            'overflow-x': 'auto'
          }
        }else if(scroll == 'none'){
          style = {
            'overflow': 'hidden'
          }
        }
        return style
      },

      list(){
				let list = []
				this.resources && this.resources.forEach(item => {
					item[this.display] === undefined ? (item[this.display] = true) : void(0)
					list.push(item)
				})
        return list
      }
    },
    
    mounted(){
		  this.init()
    },
    
    methods: {
      init(){
      },

			selectItem(item){
      	this.$emit('input', item.code)
        this.$emit('selectHandler', item)
      }
    }
	}
</script>
