<template>
  <div class="jm-notice-warpper jm-notice-toast-case" :class="'jm-notice-toast-case-' + iconType" :style="{'opacity': opacity, 'transform': 'translateY(' + y + 'px)'}">
    <span class="iconfont icon-check" :class="iconType"></span>
    <label class="toast-text auto-fill">{{title}}</label>
  </div>
</template>

<script>
  import utils from '../../../utils.js'

	export default {
		name: 'jm-toast',

    props: {
			title: {
				type: String,
				default: 'title'
			},
			iconType: {
				type: String,
				default: 'success'
      },
      id: {
				type: String,
        default: ''
      }
    },
    
    data(){
		  return {
				opacity: 0,
        y: -30
      }
    },

    mounted(){
    	setTimeout(() => {
    		this.opacity = 1.0
        this.y = 0

        setTimeout(() => {
    			this.opacity = 0
					this.y = -30

          setTimeout(() => {
						this.$store.commit('removeWindow', {
							id: this.id
						})
          }, 300)

        }, 2000000)
      }, 50)
    },

    methods: {
    }
	}
</script>
