<template>
  <div class="jm-ui jm-pagination-warpper">
    123
  </div>
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-pagination',
    
    mixins: [mixedSize],

    props: {
      width: {
        type: [String, Number],
        default: '100%'
      },
      height: {
        type: [String, Number],
        default: '100%'
      }
    },
    
    data(){
		  return {
      }
    },
    
    mounted(){
		  this.init()
    },
    
    methods: {
      init(){
      }
    }
	}
</script>
