<template>
  <div ref="jm-combox" class="jm-ui jm-combox-warpper" v-show="open" :style="[sizeStyle, ctrlStyle]">
    <!--<span class="jm-combox-arr-warpper" :style="{'left': offsetLeft}"><i></i></span>-->
    <div class="jm-combox-case">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-combox',
    
    mixins: [mixedSize],

    props: {
      width: {
        type: [String, Number],
        default: '100%'
      },
      height: {
        type: [String, Number],
        default: '100'
      },
		  value: {
		    type: Boolean,
        default: true
      },
      trigger: {
        type: String,
        default: 'click'  //触发方式： click|over
      },
      disabled: {
        /*如果该属性为true、则不允许下拉*/
        type: Boolean,
        default: false
      }
    },
    
    data(){
		  return {
		    open: false,
        opacity: 0,
        offsetLeft: 0,
        ctrlStyle: {
		      transform: 'scaleY(0)'
        }
      }
    },
    
    mounted(){
		  this.init()
    },
    
    watch: {
      open(newVal, oldVal){
        if(newVal !== oldVal){
          if(newVal){
            this.openCombox(true)
          }else{
            this.openCombox()
          }
        }
      }
    },
    
    methods: {
      init(){
        let parent = this.$refs['jm-combox'].parentNode, trigger = this.trigger.toLowerCase()
        if(parent){
          this.offsetLeft = parent.offsetWidth * .5 - 15 + 'px'
          if(trigger === 'click'){
            parent.addEventListener('click', () => {
              this.open = !this.open
              window.$jmUI.appendConfig.curr_combox = this
              event.preventDefault()
            })
            parent.addEventListener('mouseover', () => {
              window.$jmUI.appendConfig.mouse_locker = true
            })
            parent.addEventListener('mouseleave', () => {
              window.$jmUI.appendConfig.mouse_locker = false
            })
          }else if(trigger == 'over'){
            parent.addEventListener('mouseover', () => {
              this.open = true
              window.$jmUI.appendConfig.curr_combox = this
              event.preventDefault()
            })
            parent.addEventListener('mouseleave', () => {
              this.open = false
            })
          }
        }
      },
  
      openCombox(open){
        if(this.disabled){
          return
        }
        if(open){
          setTimeout(() => {
            this.ctrlStyle.transform = 'scaleY(1)'
          }, 50)
        }else{
          this.ctrlStyle.transform = 'scaleY(0)'
        }
        this.$emit('status', !!open)
      }
    }
	}
</script>

<style lang="scss" type="text/scss">

</style>
