<template>
  <span class="jm-text-warpper" :style="[sizeStyle, textStyle]"><slot></slot></span>
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-text',
    
    mixins: [mixedSize],

    props: {
      width: {
        type: [String, Number],
        default: 'auto'
      },
      height: {
        type: [String, Number],
        default: '16'
      },
      size: {
        type: [String, Number],
        default: '12'
      },
      color: {
        type: String,
        default: '#666'
      },
      align: {
        type: String,
        default: 'left'
      }
    },
    
    data(){
		  return {
      }
    },
    
    mounted(){
		  this.init()
    },
    
    computed: {
      textStyle(){
        return {
          'font-size': this.size + 'px',
          color: this.color,
          align: this.align
        }
      }
    },

    methods: {
      init(){
      }
    }
	}
</script>
