<!--文本输入组件、整合了下拉框（input、select、textarea）-->
<template>
  <div class="jm-ui jm-input-warpper" :style="sizeStyle" :class="['jm-input-warpper-' + disabled, round ? 'round' : '']" @click="clickHandler">
    <slot name="prefix" v-if="$slots.prefix && type !== 'textarea'"></slot>
    <i class="iconfont user-icon" :class="prefixIcon" v-if="prefixIcon && type !== 'textarea'" @click="perfixHandler"></i>
    <input :maxlength="maxlength" v-if="type !== 'textarea'" :autocomplete="autocomplete" ref="jm-input" @click="inputClick" :type="inputType" :value="inputValue" @input="input($event)" class="jm-input-ele auto-fill" :placeholder="placeholder" />
    
    <div class="jm-textarea-warpper" v-if="type === 'textarea'">
      <textarea ref="jm-textarea" class="jm-input-area-ele auto-fill" :maxlength="maxlength" :value="value" @input="textareaInput($event)"></textarea>
      <div class="jm-text-area-tip">
        {{value.length}} / {{maxlength}} 字
      </div>
    </div>
    
    <i class="iconfont user-icon" :class="suffixIcon" v-if="suffixIcon && type !== 'textarea'" @click="suffixHandler"></i>
    <slot name="suffix" v-if="$slots.suffix && type !== 'textarea'"></slot>
    <span class="iconfont icon-close" v-if="value && !disabled && clearable" @click.stop="clear" title="清空内容"></span>
    <span class="iconfont icon-password" :title="psdTitle" v-if="type === 'password' && value && showPassword && type !== 'textarea'" :class="eye ? 'icon-eye' : 'icon-uneye'" @click.stop="eyeClick"></span>
    
    <jm-combox :width="comboxWidth" v-if="_events.fetch && type !== 'textarea'" :height="comboxHeight" @status="status" :disabled="disabled || readonly">
      <jm-list v-if="!($slots['combox-slot'])" :resources="resources" :loading="loading" display="display" @selectHandler="selectHandler" />
      <slot name="combox-slot" v-if="$slots['combox-slot']"></slot>
    </jm-combox>
  </div>
</template>

<script>
  import utils from '../../../utils.js'
  import mixedSize from '../../../mixins/size'

	export default {
		name: 'jm-input',
    
    mixins: [mixedSize],

    props: {
      width: {
        type: [String, Number],
        default: '120'
      },
      height: {
        type: [String, Number],
        default: '36'
      },
		  value: {
		    type: [String, Number],
        default: true
      },
      type: {
        type: String,
        default: 'text'
      },
      readonly: {
        type: Boolean,
        default: false
      },
      disabled: {
        type: Boolean,
        default: false
      },
      clearable: {
        /*是否显示清除内容按钮*/
        type: Boolean,
        default: false
      },
      placeholder: {
        type: [String, Number],
        default: ''
      },
      maxlength: {
        type: [String, Number],
        default: 100
      },
      autocomplete: {
        type: String,
        default: 'off'
      },
      'show-password': {
        /*当文本类型是密码框时，该属性控制是否显示开启/关闭明文按钮*/
        type: Boolean,
        default: false
      },
      'prefix-icon': {
        type: String,
        default: ''
      },
      'suffix-icon': {
        type: String,
        default: ''
      },
      delay: {
        /*如果该组件需要获取数据源、并且需要输入内容后与下拉数据进行比较，该属性控制输入内容变化间隔时间（抖动）*/
        type: Number,
        default: 500
      },
      refresh: {
        /*如果该组件需要获取数据源、该属性控制是否每次点击下拉框或者输入文字后均需从服务端重新加载数据*/
        type: Boolean,
        default: false
      },
			lazy: {
        /*如果该组件需要获取数据源、该属性控制是否点击下拉框后再加载还是组件初始化后就自动加载*/
      	type: Boolean,
        default: false
      },
      mode: {
        /*设置这是一个文本输入框还是一个下拉选择框*/
      	type: String,
        default: 'text' //text | select
      },
      comboxWidth: {
        type: [String, Number],
        default: '100%'
      },
      comboxHeight: {
        type: [String, Number],
        default: '200'
      },
      writable: {
        type: Boolean,
        default: false
      },
      round: {
        type: Boolean,
        default: false
      }
    },
    
    data(){
		  return {
		    eye: false,
        resources: [],
        timer: null,
        loading: false,
        open: false
      }
    },
    
    computed: {
      inputType(){
        let range = ['text','password','textarea'], type = this.type.toLowerCase()
        if(range.indexOf(type.toLowerCase()) > -1){
          if(type === 'password'){
            return this.eye ? 'text' : 'password'
          }else{
            return type
          }
        }
        return 'text'
      },
      
      psdTitle(){
        return this.eye ? '关闭明文密码' : '开启明文密码'
      },
      
      inputValue(){
        if(this.mode === 'text'){
          return this.value
        }else{
          if(this.writable){
            return this.value
          }else{
            let value = ''
            this.resources && this.resources.forEach(item => {
              item.code == this.value && (value = item.name)
            })
            return value
          }
        }
      }
    },
    
    mounted(){
		  this.init()
    },
    
    methods: {
      status(status){
        this.open = status
        this.$emit('clickHandler', this.open)
      },
  
      clickHandler(){
      },
  
      perfixHandler(){
        if(!(this.disabled || this.readonly)){
          this.$emit('perfixHandler', this.open)
        }
      },
  
      suffixHandler(){
        if(!(this.disabled || this.readonly)){
          this.$emit('suffixHandler', this.open)
        }
      },
      
      init(){
        let ele = this.type === 'textarea' ? this.$refs['jm-textarea'] : this.$refs['jm-input']
        if(this.readonly){
          ele.setAttribute('readonly', 'readonly')
        }
        if(this.disabled){
          ele.setAttribute('disabled', 'disabled')
        }
        if(this.mode == 'select' && !this.writable){
          ele.setAttribute('readonly', 'readonly')
        }
        this.lazy || this.getFetch()
      },
  
      chose(item){
        this.$emit('input', item.name)
        window.$jmUI.closeCombox()
      },
  
      getFetch(){
        if(!this.refresh){
        	if(this.resources.length > 0){
						_setList(this, this.resources)
        		return
          }
        }else{
					this.resources = []
        }
				this.loading = true
				if(this._events.fetch && this._events.fetch.length > 0){
        	utils.getFetchDatas(this._events.fetch[0](), data => {
						_setList(this, data)
						this.loading = false
          }, err => {
						this.resources = []
						this.loading = false
          })
				}

				function _setList(instance, data){
					let _arr = []
					data && Array.isArray(data) && data.length > 0 && data.forEach(item => {
						item.display = (instance.mode === 'text') ? item.name.indexOf(instance.value) > -1 : true
						_arr.push(item)
					})
					instance.resources = _arr
        }
      },
  
      inputClick(){
        if(!(this.disabled || this.readonly)){
          this.getFetch()
        }
      },

			selectHandler(item){
        if(this.mode === 'text'){
          this.$emit('input', item.name)
        }else{
          this._events.selectHandler[0](item.code)
        }
      },
      
      clear(){
        if(!(this.disabled || this.readonly)){
          this.$emit('input', '')
        }
      },
      
      input(ev){
        let value = ev.target.value
        this.$emit('input', value)
  
        window.timer && window.clearTimeout(window.timer)
        window.timer = setTimeout(() => {
          this.getFetch()
        }, parseInt(this.delay))
      },
  
      textareaInput(ev){
        let value = ev.target.value
        this.$emit('input', value)
      },
  
      eyeClick(){
        if(!(this.disabled || this.readonly)){
          this.eye = !this.eye
        }
      }
    }
	}
</script>

<style lang="scss" type="text/scss">

</style>
